<div class="row align">
  <app-rit></app-rit>
  <hr>
  <app-ait></app-ait>
</div>
<div class="row">
  <span>
      <a matTooltip="Go Back" [matTooltipPosition]='position' mat-fab
         color="accent" routerLink="/view">
        <i class="fas fa-chevron-left">
        </i>
      </a>
    </span>
  <span class="spacer"></span>
  <span>
       <a matTooltip="View My experience!" [matTooltipPosition]='position' mat-fab
          color="primary" routerLink="/experience"><i class="fas fa-briefcase fa-2x icon"></i>
       </a>
    </span>
</div>


