<mat-card class="card">
  <!--<mat-card-header>
    &lt;!&ndash;<div mat-card-avatar class="card-header-image"></div>&ndash;&gt;
    <mat-card-title class="card-header-text">Deepak Ravi Shankar</mat-card-title>
  </mat-card-header>-->
  <img mat-card-image
       src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/13620371_10205821234443286_3953820816299998335_n.jpg?oh=e00e0680f914b447cc0dc7ad79d866b9&oe=5B4884B0"
       alt="Photo of a Deepak Shankar">
  <mat-card-content>
    <p class="subtitle" mat-card-subtitle>
      Full Stack Developer
    </p>
    <h4 mat-subheader>
      <i class="fas fa-code"></i>
      <span class="list-header">SKILLS</span>
    </h4>
    <app-skills></app-skills>
  </mat-card-content>
</mat-card>



