<div class="row">
  <div class="col">
    <mat-list>
      <mat-list-item class="list-item">
        <h4 mat-line>Java</h4>
        <circle-progress
          [percent]="85"
          [radius]="10"
          [animation]="true"
          [outerStrokeColor]="'#1e88e5'"
          [animationDuration]="300"
        ></circle-progress>
      </mat-list-item>
      <mat-list-item class="list-item">
        <h4 mat-line>JavaScript</h4>
        <circle-progress
          [percent]="70"
          [radius]="10"
          [animation]="true"
          [outerStrokeColor]="'#0097a7'"
          [animationDuration]="300"
        ></circle-progress>
      </mat-list-item>
      <mat-list-item class="list-item">
        <h4 mat-line>TypeScript</h4>
        <circle-progress
          [percent]="65"
          [radius]="10"
          [animation]="true"
          [outerStrokeColor]="'#8e24aa'"
          [animationDuration]="300"
        ></circle-progress>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col">
    <mat-list>
      <mat-list-item class="list-item">
        <h4 mat-line>Python</h4>
        <circle-progress
          [percent]="80"
          [radius]="10"
          [animation]="true"
          [outerStrokeColor]="'#d81b60'"
          [animationDuration]="300"
        ></circle-progress>
      </mat-list-item>
      <mat-list-item class="list-item">
        <h4 mat-line>HTML</h4>
        <circle-progress
          [percent]="85"
          [radius]="10"
          [animation]="true"
          [outerStrokeColor]="'#43a047'"
          [animationDuration]="300"
        ></circle-progress>
      </mat-list-item>
      <mat-list-item class="list-item">
        <h4 mat-line>CSS</h4>
        <circle-progress
          [percent]="80"
          [radius]="10"
          [animation]="true"
          [outerStrokeColor]="'#e53935'"
          [animationDuration]="300"
        ></circle-progress>
      </mat-list-item>
    </mat-list>
  </div>
</div>
