<div class="row align">
  <!--<app-mindex></app-mindex>
  <hr>-->
  <app-tr></app-tr>
  <hr style="background-color: #673ab7">
  <app-temminova></app-temminova>
</div>
<div class="row">
  <span>
      <a matTooltip="Go Back" [matTooltipPosition]='position' mat-fab
         color="accent" routerLink="/education">
        <i class="fas fa-chevron-left">
        </i>
      </a>
    </span>
  <span class="spacer"></span>
  <span>
       <a matTooltip="View My Achievements!" [matTooltipPosition]='position' mat-fab
          color="primary" routerLink="/achievements"><i class="fas fa-trophy fa-2x icon"></i>
       </a>
    </span>
</div>
