<div class="row align">

</div>
<div class="row">
  <span>
      <a matTooltip="Go Back" [matTooltipPosition]='position' mat-fab
         color="accent" routerLink="/education">
        <i class="fas fa-chevron-left">
        </i>
      </a>
    </span>
  <span class="spacer"></span>
  <span>
       <a matTooltip="View My Achievements!" [matTooltipPosition]='position' mat-fab
          color="primary" routerLink="/achievements"><i class="fas fa-trophy fa-2x icon"></i>
       </a>
    </span>
</div>
