<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--<mat-icon routerLink="/" class="header-icon">home</mat-icon>-->
    <span class="header-spacer"></span>
    <a routerLink="/"><span class="title">Deepak Ravi Shankar</span></a>
    <span class="header-spacer"></span>
    <section class="publication-links" id="publications_links">
      <a href="https://poems.deepakshankar.com"><span class="title blog pad-right"> Poems </span></a>
      <a href="https://blogs.deepakshankar.com"><span class="title blog pad-left"> Blogs </span></a>
    </section>
  </mat-toolbar-row>
</mat-toolbar>
