<div class="row">
  <div class="col-lg-4">
    <p style="text-align: center;">
      <img alt="Thomson Reuters" class="img-rounded"
           src="https://raw.githubusercontent.com/drs3114/Portfolio/master/WebContent/images/tr3.jpg"
           height="230px" width="350px">
    </p>
    <h4
      style="text-align: center; font-family: 'Assistant', sans-serif;">
      <b>Associate Software Engineer</b>
    </h4>
    <h5 style="text-align: center;">
      August
      <small>2013</small>
      - April
      <small>2015</small>
    </h5>
  </div>
  <div class="col-lg-8 align">
    <div class="container-fluid">
      <h5>
        <i class="far fa-hand-point-right" aria-hidden="true"></i>

        Actively involved in Proof of Concepts for projects and contributed
        ideas for making the project better.
      </h5>

      <h5>
        <i class="far fa-hand-point-right" aria-hidden="true"></i>

        Lead a team of 3 to develop a project called <code
        style="color: seagreen">Metrics</code> that
        maintained team performance statistics.
      </h5>


      <h5>
        <i class="far fa-hand-point-right" aria-hidden="true"></i> <i
        class="fa fa-trophy" style="color: gold"
        aria-hidden="true"></i>
        Participated in <b>Thomson
        Reuters Tech UnConference 2014</b> on the
        topic AMQP and won an award.
      </h5>

    </div>

  </div>
</div>
