<div class="row">
  <div class="col-lg-4">
    <p style="text-align: center;">
      <img alt="RIT" class="img-rounded"
           src="https://upload.wikimedia.org/wikipedia/commons/d/d4/Rochester_Institute_of_Technology_seal.svg"
           height="auto" width="60%">
    </p>
  </div>
  <div class="col-lg-4">
    <h3 style="text-align: center;">
      Degree:
      <small style="font-size: 14">Master of
        Science
      </small>
    </h3>
    <h3 style="text-align: center;">
      Major:
      <small>Computer Science</small>
    </h3>
    <h3 style="text-align: center;">
      Courses:
      <small>Algorithms, Introduction to Big
        Data, Foundations of Intelligent Systems, Foundations of
        Parallel Computing, Big Data, Data Security, Data Cleaning,
        Secure Coding
      </small>
    </h3>
  </div>
  <div class="col-lg-4">
    <h3 style="text-align: center;">Graduation</h3>
    <h2 style="text-align: center;">
      <span class="label label-default">December 2017</span>
    </h2>
  </div>
</div>
