<div class="row">
  <div class="col-lg-4">
    <p style="text-align: center;">
      <img alt="RIT" class="img-rounded"
           src="https://www.rit.edu/upub/sites/rit.edu.upub/files/logos/tiger_walking_rit_color.jpg"
           height="200px" width="230px">
    </p>
  </div>
  <div class="col-lg-4">
    <h3 style="text-align: center;">
      Degree:
      <small style="font-size: 14">Master of
        Science
      </small>
    </h3>
    <h3 style="text-align: center;">
      Major:
      <small>Computer Science</small>
    </h3>
    <h3 style="text-align: center;">
      Courses:
      <small>Algorithms, Introduction to Big
        Data, Foundations of Intelligent Systems, Foundations of
        Parallel Computing, Big Data, Data Security, Data Cleaning,
        Secure Coding
      </small>
    </h3>
  </div>
  <div class="col-lg-4">
    <h3 style="text-align: center;">Graduation Date:</h3>
    <h2 style="text-align: center;">
      <span class="label label-default">December 2017</span>
    </h2>
  </div>
</div>
