<div class="row">
  <div class="col-lg-4">
    <p style="text-align: center;">
      <img alt="RIT" class="img-rounded"
           src="https://raw.githubusercontent.com/shankardeepak22/automation/master/automation/WebContent/non-secure-content/images/LOGO.jpg"
           height="230px" width="200px">
    </p>
  </div>
  <div class="col-lg-4">
    <h3 style="text-align: center;">
      Degree:
      <small>Bachelor of Engineering</small>
    </h3>
    <h3 style="text-align: center;">
      Major:
      <small>Computer Science</small>
    </h3>

    <h3 style="text-align: center;">
      Courses:
      <small>Operating Systems, Database
        Management Systems, Software Engineering, Computer
        Architecture, Object Oriented Programming.
      </small>
    </h3>
  </div>
  <div class="col-lg-4">
    <h3 style="text-align: center;">Graduation</h3>
    <h2 style="text-align: center;">
      <span class="label label-default">May 2013</span>
    </h2>
  </div>
</div>
