<div class="row">
  <div class="col-lg-4">
    <p style="text-align: center;">
      <img alt="Temminova" class="img-rounded"
           src="https://raw.githubusercontent.com/drs3114/Portfolio/master/WebContent/images/temminova.png"
           height="230px" width="350px">
    </p>
    <h4
      style="text-align: center; font-family: 'Assistant', sans-serif;">
      <b>Intern</b>
    </h4>
    <h5 style="text-align: center;">
      November
      <small>2012</small>
      - June
      <small>2013</small>
    </h5>
  </div>
  <div class="col-lg-8 align">
    <div class="container-fluid">
      <h5>
        <i class="far fa-hand-point-right" aria-hidden="true"></i>
        Developed mobile applications using Android SDK.
      </h5>

      <h5>
        <i class="far fa-hand-point-right" aria-hidden="true"></i>
        Actively involved in creation of an application called <code
        style="color: seagreen">Track the Trails</code>.
      </h5>


      <h5>
        <i class="far fa-hand-point-right" aria-hidden="true"></i>
        Contributed to modules of the application that used GPS and Camera sensors for geo-tagging the images.
      </h5>

      <h5>
        <i class="far fa-hand-point-right" aria-hidden="true"></i>
        Involved in testing the application.
      </h5>

    </div>

  </div>
</div>
