<div class="row">
  <h1> About ME</h1>
  <hr>
</div>

<div class="row">
  <h2>
    Software professional with experience in team collaboration on Agile development environments. Flexible technical
    skills and innovative problem-solving ability, makes me suitable to work in fast-paced development environments
    and
    deliver high quality production ready software. Proactively involving and taking up challenging tasks keeps me
    motivated in building high quality software for the end customer.
  </h2>
  <span>
      <a matTooltip="Go Back" [matTooltipPosition]='position' mat-fab
         color="accent" routerLink="/view">
        <i class="fas fa-chevron-left">
        </i>
      </a>
    </span>
  <span class="spacer"></span>
  <span>
       <a matTooltip="View My education details!" [matTooltipPosition]='position' mat-fab
          color="primary" routerLink="/education"><i class="fas fa-graduation-cap fa-2x icon"></i>
       </a>
    </span>
</div>
