hr {
  color: rgba(0, 0, 0, 0.54);
}

* {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: justify;
  color: rgba(0, 0, 0, 0.54);
}

.icon {
  color: rgba(255, 255, 255, 1);
}

.spacer {
  flex: 1 1 auto;
}
